@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #1d1c1c;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.progress {
  background: linear-gradient(
    90deg,
    rgba(58, 110, 180, 1) 0%,
    rgba(126, 212, 87, 1) 20%,
    rgba(248, 212, 73, 1) 40%,
    rgba(235, 77, 96, 1) 60%,
    rgba(180, 96, 231, 1) 80%,
    rgba(178, 34, 34, 1) 100%
  );
}

.temperature {
  background-image: linear-gradient(to right, #00dfff 0%, #00f9ff 20%, yellow);
}

.footer-text > img {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

footer:hover .footer-text > img {
  filter: grayscale(0%);
}

@media screen and (max-width: 581px) {
  .btn-group {
    position: fixed;
    bottom: 2%;
    right: 1rem;
    z-index: 1000;
  }

  .btn-group button {
    box-shadow: 2px 3px 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  }

  .search-container {
    width: 100%;
  }

  .search-btn {
    width: 100%;
  }

  .search-btn button {
    width: 100%;
  }

  .source-code-btn {
    order: -1;
  }
}

@media screen and (max-width: 1010px) {
  .mapbox-con {
    flex-direction: column;
  }

  .mapbox-con > div:first-child {
    height: 24rem;
    width: 100%;
    flex: initial;
  }
}
<<<<<<< HEAD
=======
/* Sidebar *//* Sidebar clair (pour le thème sombre global) */

.sidebar-light {
  background-color: #f0f0f0; /* Fond clair */
  color: #333; /* Texte sombre */
  width: 200px;
  padding: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-right: 1px solid #ddd;
}

/* Sidebar sombre (pour le thème clair global) */

.sidebar {
  background: rgb(35, 84, 173);
  color: white;
  height: 100vh;
  overflow-y: auto;
}

/* Liens Sidebar en thème clair */
.sidebar-light .link {
  color: #333;
}

.sidebar-light .link:hover {
  background-color: #e0e0e0;
  border-right-color: #555;
}

/* Liens Sidebar en thème sombre */
.sidebar-dark .link {
  color: #f0f0f0;
}

.sidebar-dark .link:hover {
  background-color: #444;
  border-right-color: #999;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
}

.light .link {
  color: #333; /* Texte sombre */
}
.light .link:hover {
  background-color: #e0e0e0;
  border-right-color: #555; /* Petite bordure à droite pour effet visuel */
}

/* Style des liens en thème sombre */
.dark .link {
  color: #f0f0f0; /* Texte clair */
}

.dark .link:hover {
  background-color: #444;
  border-right-color: #999; /* Petite bordure à droite pour effet visuel */
}


.active {
  border-right: 4px solid white;
  background: rgb(140, 143, 157);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}
>>>>>>> new_diroil
